<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img class="special" src="images/t_symbol.jpg">
        </div>

        <div class = "col-sm-6" style="size:20%";>
            <p>Taihei is an American Trance and EDM producer / DJ based in Chicago, IL.  Coming from an Asian background, his goal is to combine Asian culture with the futuristic sound of EDM. Some of his influences in producing music come from artists such as Porter Robinson, Blasterjaxx, Bassjackers, KSHMR, Madeon, and various others.</p>
            <p>Established in 2019, EVE5 is an EDM label that promotes various genres such as the pulsating big room genre, to noise grinding dubstep, to the euphoric world of trance and beyond. We are a label dedicated to creative freedom, breaking the barriers of dance music.</p>
        </div>
    </div>
  </div>