<div class="container">
    <div class="row">
  
      <div class="col-sm-6">
          <img class="special" src="images/newsletter.jpg" alt="">
        </div>

        <div class="col-sm-6">
          <h1>Subscribe to EVE5!</h1>
          <p>Enter your email to get updated with the latest news and releases from EVE5:</p>
          <form class="subscription-form" action="/thanks" method="post">
            <input type="text" name="name" placeholder="Name">
            <br>
            <input type="text" name="email" placeholder="Email">
            <input type="submit" name="submit">
            <br>
            <br>
            <p>For producers and artists: If you want to submit demos, bootlegs, and remixes, please send us an email to submissions@eve5.com</p>
            <p>All other inquiries: info@eve5.com</p>

            <p>Manager - Sebastien Kollberg: (312) 755-3000</p>
          </form>
        </div>
  
    </div>
  </div>