<div class="container">
    
        <img class="center" src="/images/banner.jpg">

      <br>
      <br>
      <h1>News</h1>
      <p>11.14.2019 - Taihei launches new podcast: Radio EVE5. First episode broadcasted in Japan on ah-1FM.</p>
      <p>05.05.2019 - Taihei has founded EVE5 Recordings in Chicago, IL</p>
    
  </div>