<div class="container">
        <img src="/images/podcast_logo.png" class="center">
        <p style="text-align:center;">Taihei's Radio EVE5 podcast brings the best in dance music and underground. From Trance, to Big Room, to House, and many more, Radio EVE5 showcases music that's energetic and electrifying!</p>
        <br>
        <br>
        <div>
        <h3 style="text-align:center;">Taihei - Radio EVE5 001</h3>

        <ol style="text-align:center;">
                <li>Bancali - Nothing To Do</li>
                <li>Steff Da Campo & Smack - Renegade</li>
                <li>Pep & Rash - Waiting For A Sign</li>
                <li>Skytech & DNF - Open Your Mind</li>
                <li>Ryos (feat. Blane) - Alone</li>
                <li>Dropgun & Do It Big, Arikakito - Darkside</li>
                <li>SaberZ x Jaxx & Vega - We Came To Rave</li>
                <li>Nifra & Fisherman - The New Breed [Airwalk Festival 2019 Anthem]</li>
                <li>J-Stranger - Tears Of The Moon</li>
                <li>Luke Bond & Rub!k - Get Down</li>
                <li>Alex Sonata & TheRio - Kairos</li>
                <li>Corti Organ - The Joker</li>
                <li>Ashley Wallbridge - On The Move</li>
                <li>Hikaru Utada & Skrillex - Face My Fears (Taihei Remix)</li>
                <li>gyrofield - Out Of My Mind (ft. inkwill) (tenshi Remix)</li>
                <li>Virtual Self - Angel Voices (ROCKY Remix)</li>
                <li>toshi & Tciami - 幽霊に恋している (modus Remix)</li>
              </ol> 
    </div>
    </div>