<div class="container">
        <div class="row">
      
          <div class="col-sm-6">
            <img class="special" src="/images/newsletter.jpg" alt="">
          </div>
          <div class="col-sm-6">
            <h1>Thank for subscribing to the EVE5 newsletter!</h1>
            <p>Stay tuned for more updates coming from EVE5 and exciting events coming your way!</p>
          </div>
          
        </div>
      </div>    
      